// Брейкпоинты

$tablet: 768px;
$desktop: 1080px;
$laptop: 1360px;

// Цвета

$white: whitesmoke;
$black: #2d2e32;
$dark: black;
$green: green;
$green-bg: #1e322a;
$red: #c20c0c;
$grey: grey;
$gradient: linear-gradient(130deg, #251b06, #737629, #164c66);

// background: linear-gradient(180deg, #2d2e32,#2d2e32,#2d2e32,#8bebe3);

// Прочие параметры

$radius: 20px;
$transition: 0.4s;